<!DOCTYPE html>
<html lang="en-US">
<head>
  <%- include('../partials/head') %>
</head>
<body>

<%- include('../partials/header.html') %>
<%- include('../partials/cover') %>

<!--<section class="page-header">-->
<!--  <h1 class="project-name"><%= site.title %></h1>-->
<!--  <h2 class="project-tagline"><%= site.description %></h2>-->
<!--  <a href="<%= site.basePath %>/" class="btn">Home</a>-->
<!--  <a href="<%= site.basePath %>/another-page" class="btn">Another Page</a>-->
<!--  <a href="<%= site.basePath %>/ejs-page" class="btn">EJS Page</a>-->
<!--  <a href="<%= site.basePath %>/html-page" class="btn">HTML Page</a>-->
<!--  <a href="https://github.com/doug2k1/nanogen" class="btn">GitHub</a>-->
<!--</section>-->

<main class="main-content">
  <%- body %>
</main>

<%- include('../partials/footer') %>
</body>
</html>
